.street {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}
  
.street span {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}
  
  
.street-date {
    font-style: italic;
}
  
.street-name {
    color: #008080;
}
  
.street-city {
    color: #ffa500;
}