.activity {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}
  
.activity span {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}
  
  
.activity-date {
    font-style: italic;
}
  
.activity-distance {
    color: #008080;
}
  
.activity-streets {
    color: #ffa500;
}