<div class="container">
        <h1>Activities</h1>
        <table>
           <thead>
            <tr>
               <th>#</th>
               <th>Date</th>
               <th>Completed Streets</th>
               <th>Distance</th>
             </tr>
           </thead>
           <tbody>
                <tr *ngFor="let activity of activities; let i = index">
                        <td>#{{ i+1+page*20 }}</td>
                        <td class="activity-date">{{ activity.date | date : 'longDate' }}</td>
                        <td class="activity-streets">{{ activity.completed_streets }}</td>
                        <td class="activity-distance">{{ activity.distance }} km</td>
                </tr>
           </tbody>
        </table>
        <div class="navigation">
                <button (click)="prevPage()">prev</button>
                <button (click)="nextPage()">next</button>
        </div>
</div>